<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zybooks.mmimages">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyModels"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChoosePhotoActivity"></activity>
        <activity android:name=".MyModelsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EmailPasswordActivity"
            android:label="MyModels"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirebaseUIActivity"
            android:label="@string/label_firebase_ui" />
        <activity
            android:name=".GenericIdpActivity"
            android:label="@string/label_generic_idp" />
    </application>

</manifest>